body{
  padding-bottom:200px;
}
#filter_icon{
    width: 1vw;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 999;
  margin-bottom:200px;
}

.navbar-brand {
  font-size: 24px;
  color: #333;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
}



#filter_menu {
    height: 100%; /* Specify a height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 60px;
    right: 0;
    background-color: lightgray; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1vh; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }

  .addShoppingListFooterBtn{
    position: fixed;
    right:1vw;
    bottom:1vh;
  }

  .closebtn{
    position: absolute;
    top: 0;
    right: 1vw;
    cursor: pointer;
  }

  #filter_list li{
    margin-bottom: 2vh;
  }

/* STYLE FOR TOP BANNER */
.feature {
	background-color: rgb(191, 214, 227);
	color: black;
  text-align: center;
  padding: 75px;
  margin-top: 50px;
}
h1 {
    font-size: 50px;
}
.feature2 {
    text-align: center;
    padding-top: 50px;
}

.outer_form_container{
  padding-top:20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.edit_recipe_form{
  border-radius: 10px;
  width:49%
}

.add_food_for_edit_recipe_form{
  border-radius: 10px;
  width:49%;
}


.table_for_food_in_recipe{
  text-align: center;
  width:100%;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-top:20px;
}


.outer-container-edit-meals{
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.container-edit-meals-add-food{
  border-radius: 10px;
  width:49%
}

.container-edit-meals{
  border-radius: 10px;
  width:49%;
}